@use '../../styles/abstracts/variables' as var;

.dessertContainer {
	flex-grow: 1;
}

.productsList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
	gap: var.$spacing-300;

	@media screen and (min-width: var.$breakpoint-desktop) {
		grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
	}
}
