@use "../../styles/abstracts/variables" as var;

.addButton {
	position: absolute;
	width: 160px;
	left: 50%;
	bottom: -22px;
	transform: translateX(-50%);

	display: flex;
	justify-content: center;
	gap: 0.5rem;

	background-color: var.$color-white;
	color: var.$color-rose-900;
	font-size: 14px;
	font-weight: var.$fw-semi-bold;
	padding: 12px 12px;
	border: 1px solid var.$color-rose-400;
	border-radius: 999px;
	cursor: pointer;
	transition: all 0.2s ease;

	&:hover {
		color: var.$color-red;
		border-color: var.$color-red;
		transform: translateY(-50%, -4px);
		bottom: -20px;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	}

	&:active {
		transform: translateY(-50%, 0);
		bottom: -22px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	}
}

.quantityControl {
	position: absolute;
	width: 160px;
	left: 50%;
	bottom: -22px;
	transform: translateX(-50%);

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var.$color-red;
	color: var.$color-white;
	font-size: var.$fs-extra-small;
	font-weight: var.$fw-semi-bold;
	padding: 12px 12px;
	border-radius: 999px;

	& div {
		background-color: var.$color-red;
		align-self: stretch;
		width: 20px;
		height: 20px;
		border: 0.5px solid var.$color-white;
		border-radius: 50%;
		flex-grow: 0;
		user-select: none;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}
