// Colors
$color-red: #c73b0f;
$color-rose-50: #fcf8f6;
$color-rose-100: #f5eeec;
$color-rose-300: #caafa7;
$color-rose-400: #ad8a85;
$color-rose-500: #87635a;
$color-rose-900: #260f08;
$color-green: #1ea57a;
$color-black: #000;
$color-white: #fff;

// Typography
$font-primary: "Red Hat", sans-serif;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$line-height-small: 1;
$line-height-medium: 1.2;
$line-height-large: 1.25;
$line-height-xl: 1.5;

// Font-size
$fs-extra-small: 14px;
$fs-small: 1rem;
$fs-medium: 1.5rem;
$fs-large: 2.5rem;

// Spacing
$spacing-50: 0.25rem;
$spacing-100: 0.5rem;
$spacing-150: 0.75rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-1100: 5.5rem;
