@use "base/fonts";
@use "base/reset";
@use "abstracts/variables" as var;

body {
	background-color: var.$color-rose-50;
	// Typography
	color: var.$color-rose-900;
	font-family: var.$font-primary;
	font-size: var.$fs-extra-small;
	font-weight: var.$fw-regular;
	line-height: var.$line-height-xl;
}

main {
	padding: var.$spacing-300;

	display: flex;
	flex-direction: column;
	gap: var.$spacing-400;
}

h1 {
	font-size: var.$fs-large;
	font-weight: var.$fw-bold;
	line-height: var.$line-height-medium;
}
