@use '../../styles/abstracts/variables' as var;
@use '../../styles/abstracts/mixins' as mixins;

.separatorLine {
	background-color: var.$color-rose-100;
	width: 100%;
	height: 1px;
}

.orderResume {
	@include mixins.flexSpaceBetween;

	& p:last-child {
		font-size: var.$fs-medium;
		font-weight: var.$fw-bold;
	}
}
