@use '../../styles/abstracts/variables' as var;
@use '../../styles/abstracts/mixins' as mixins;

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: end;
	z-index: 1000;

	@media screen and (min-width: var.$breakpoint-tablet) {
		align-items: center;
	}
}

.modal {
	background-color: white;
	padding: var.$spacing-500;
	border-radius: 12px;
	width: 100%;
	max-height: 100vh;
	overflow: scroll;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	position: relative;
	text-align: center;

	display: flex;
	flex-direction: column;
	gap: var.$spacing-400;

	@media screen and (min-width: var.$breakpoint-tablet) {
		width: 85%;
		max-width: 37.5rem;
	}
}

.confirmInfo {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var.$spacing-300;

	& div {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	& h2 {
		color: var.$color-rose-900;
		font-size: var.$fs-large;
		font-weight: var.$fw-bold;
		line-height: var.$line-height-medium;
	}

	& p {
		color: var.$color-rose-500;
	}
}

.confirmList {
	background-color: var.$color-rose-50;
	padding: var.$spacing-300;
	display: flex;
	flex-direction: column;
	gap: var.$spacing-200;
}
