@use '../../styles/abstracts/variables' as var;

.confirmButton {
	background-color: var.$color-red;
	color: var.$color-white;
	font-size: var.$fs-small;
	font-weight: var.$fw-semi-bold;

	border: none;
	padding: var.$spacing-200 var.$spacing-300;
	border-radius: 999px;
	cursor: pointer;

	&:hover {
		background-color: rgb(145, 20, 20);
		transform: translateY(-50%, -8px);
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	}

	&:active {
		transform: translateY(-50%, 0);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	}
}
