@font-face {
	font-family: "Red Hat";
	src: url("/assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
	font-weight: 300 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Red Hat";
	src: url("/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf") format("truetype");
	font-weight: 300 900;
	font-style: italic;
	font-display: swap;
}
